body {
font-family: Arial, Helvetica, sans-serif;

}
div{
  text-decoration: none;
  font-size: large;
  }
  input[type=text]
  {
    text-transform: capitalize;
  }
  #inputFormCard{
    width:40%;
   margin-left: 30%;
   margin-top:5%;
   height: 450px;
  }
  #link{
    text-decoration: none;
    color: black;
  }
#inputFormBody{
  text-align: center;
  padding-top: 15px;
padding-right: 0;
padding-bottom :15px;
padding-left :35px;
  width:85%;
}

.successMessage{
  color:#4F8A10;
  text-align: center;
  margin:10px;
}
 input[type=text], input[type=password], input[type=email] {
padding: 10px ;
margin-bottom: 2%;
border: 1px solid #ccc;
box-sizing: border-box;
} 
#adminCard{
  margin-right: 5%!important;
}
#movieContainer{
  margin-left:1.5%!important;
  margin-right: 1%!important;
  padding:0!important;
}
#row{
  margin-right:0!important; 
}
/* Set a style for all buttons*/
button {
text-align: center!important;
padding: 10px 24px;;
margin: 8px 5px;
/* margin-right: 20px !important; */
border: none;
border-radius: 8px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 

#inputFormHeader{
  font-size: x-large;
  font-style: bold;
  text-align: center;
}
#inputFormip{
  width:80%;
}
.col-md-6{
  
  padding-top: 15px;
padding-right: 15px;
padding-bottom :15px;
padding-left :15px;
}
#ticketbutton{
     background:none;
     color:inherit;
     border:none; 
     padding:0!important;
     box-shadow: none !important;
     font: inherit;
     cursor: pointer;
     
}
#add{
  padding: 15px 0 0px 25px !important;
  background:none;
     color:inherit;
     border:none; 
     
     box-shadow: none !important;
     font: inherit;
     cursor: pointer;
}
button:hover {
opacity: 0.8;
}

.theaterTable td,th{
border: 1px solid #ddd;
padding: 5px;
table-layout: fixed;
width: 500px;
}
.theaterTable tr:nth-child(even){background-color: #f2f2f2;}

.theaterTable tr:hover {background-color: #ddd;}
.theaterTable th 
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: grey;
  color: white;
  margin: 0;
  
    
}
.text{
  text-align:center!important;
  
}
#admincard{
  height:150px;
}

.logo 
{
width:135px;
float:left;
margin-left: 10px;
margin-right: 70%;

}
.header 
{
background-color: white !important;
margin-bottom: 0!important;
margin-top: 0!important;
}
.card-body{
  text-align: center;
}
h1{
  justify-content: center;
  margin-bottom: 0 !important; 
}

/* .menu {
  background-color:white ;
  width:100%;
  justify-content: center;
} */
#card-body{
  padding:0!important;
}

.nav-item {
  display: inline;
  text-align: justify;
}
li{
  display: inline;
  text-align: justify;
 
}
.d-block{
    display: block!important;
    width: 100%;
    /*padding: 0 !important;
    margin: 0 !important;*/
    height: 500px;
    padding-bottom: 20px;
}
form{
  margin:2%;
  text-align: left;
}
.ticket{
  width:40%;
  padding: 5px;
  border:1px solid black;
}

#movieCardImage{
  width:50%!important;
  padding-bottom:10%;
  margin:0;
  height:300px !important;

}

 #movieCard{
  width:100%!important;
  height:250px;
  padding-top: 5px;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-right: 0px;

} 
Link button{
  text-decoration: none!important;
}
.errorMessage{
  color: red;
  text-align: center;
}

#col{
  width: 25% !important;;
}
.card-img-top{
  height: 350px;
  width: 300px;
}
.card{
  cursor: pointer;
}
#cityCard{
  height:200px;
}
#adminbutton{
  
  margin-left:30%!important;
  margin-right: 2%!important;
}
#userbutton{
  margin-left:40%!important;
  margin-right: 2%!important;
}
.table {
  margin-right: 1%;
  margin-top:1%;
  margin-left: 1.5%;
  width:96%!important;
}

.theater li{
  padding:0 120px 0px 0;
}

 .carousel-inner
{
  margin-top:1%;
  margin-right:1.5 rem!important;
} 
.pagination {
  margin-top: 25px;
}
.pagination span {
cursor: pointer;
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
transition: background-color .3s;
border: 1px solid #ddd;
}

.pagination span.active {
background-color: #0099FF;
color: white;
border: 1px solid #0099FF;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.text-dark{
  text-decoration: none;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {display: block;}
